@page
@model UIAssignmentRazorPages.Pages.emiranda4WelcomeModel
@{
    ViewData["Title"] = "Welcome Student";
}
<h1>Welcome!</h1>
<p><a href="emiranda4SignOn">I am an existing student</a></p>
<p><a href="emiranda4Student">I am a new student</a></p>