@page
@model emiranda4BAIS3150CodeSample.Pages.CreateAProgramModel
@{
    ViewData["Title"] = "Create a Program - emiranda4";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
<h1 class="display-4">Create a Program</h1>
<hr class="my-4">
<div>
    <h4 class="alert-success">@Model.FormMessage</h4>
    <span class="alert-danger">@Model.ErrorMessage</span>
    <form method="post">
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="ProgramCode" class="form-label">Program Code</label>
                <input type="text" asp-for="ProgramCode" placeholder="ex. BAIST" class="form-control" />
                <span asp-validation-for="ProgramCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <label asp-for="Description" class="form-label">Description</label>
                <input type="text" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <button asp-page-handler="Submit" name="Submit" class="btn btn-success" onclick="return confirm('Are you sure you want to create this program?')">Submit</button>
            </div>
        </div>
    </form>
</div>