@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Eronielle Miranda's <br /> BAIS3150 Code Sample</h1>
        <p class="lead">This is one of the project requirements in BAIS3150 course. I applied everything we learned from Razor Pages so far, including bootstrap and input validations.</p>
        <br />
        <p class="lead">It contains Razor content pages for:</p>
        <ul class="lead">
            <li>Create a Program</li>
            <li>Enroll a Student</li>
            <li>Find a Student</li>
            <li>Modify a Student</li>
            <li>Remove a Student</li>
            <li>Find a Program</li>
        </ul>
    </div>
</div>